.newProductsHero{
    position:relative;
    width:100%;
    min-height:100vh;
    display:flex;
    align-items:center;
    overflow:hidden;
    background:url("../assets/product.png") center center/cover no-repeat;
}

/* .newProductsOverlay{
    position:absolute;
    inset:0;
    background:linear-gradient(90deg,
        rgba(255,255,255,.93) 0%,
        rgba(255,255,255,.82) 28%,
        rgba(180, 143, 143, 0.48) 58%,
        rgba(15, 1, 1, 0.1) 100%);
} */

.newProductsContainer{
    width:100%;
    max-width:1400px;
    margin:auto;
    padding:60px 80px 120px;
    position:relative;
    z-index:2;
}

.newProductsContent{
    width:100%;
    max-width:520px;
    animation:newFadeLeft .9s ease;
    margin-top: -80px;
}

.newProductsSubtitle{
    display: inline-block;
    color: #D49935;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 22px;
    opacity: 0;
    animation: fadeUp 1s ease forwards;
    animation-delay: .2s;
}

.newProductsHeading{
    color: #000;
    font-size: 60px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 28px;

    opacity: 0;
    animation: fadeUp 1s ease forwards;
    animation-delay: .4s;
}

.newProductsHeading span{
    color:#C98B25;
}

.newProductsDescription{
    color: #3D3D3D;
    font-size: 22px;
    line-height: 1.3;
    max-width: 590px;
    margin-bottom: 45px;

    opacity: 0;
    animation: fadeUp 1s ease forwards;
    animation-delay: .7s;
}

.newProductsFeatures{
    width:100%;
    max-width:520px;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}

.newProductsFeatureCard{
    flex:1;
    text-align:center;
    padding:0 12px;
    border-right:1px solid rgba(211,154,50,.35);
}

.newProductsFeatureCard:last-child{
    border-right:none;
}

.newProductsFeatureIcon{
    width:56px;
    height:56px;
    margin:0 auto 14px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    border:2px solid #D39A32;
    transition:.35s;
}

.newProductsFeatureIcon svg{
    font-size:22px;
    color:#D39A32;
    transition:.35s;
}

.newProductsFeatureCard:hover .newProductsFeatureIcon{
    background:#D39A32;
}

.newProductsFeatureCard:hover .newProductsFeatureIcon svg{
    color:#fff;
}

.newProductsFeatureCard h4{
    font-family:"Poppins",sans-serif;
    font-size:15px;
    font-weight:500;
    color:#222;
    line-height:1.4;
}

.newProductsFeatureCard p{
    display:none;
}

@keyframes newFadeLeft{
    from{
        opacity:0;
        transform:translateX(-60px);
    }
    to{
        opacity:1;
        transform:translateX(0);
    }
}

/* ============================= */
/* 2560px */
/* ============================= */

@media (min-width:2560px){

    .newProductsContainer{
        max-width:2200px;
        padding:180px;
    }

    .newProductsContent{
        max-width:760px;
    }

    .newProductsSubtitle{
        font-size:28px;
        letter-spacing:8px;
    }

    .newProductsHeading{
        font-size:145px;
    }

    .newProductsDivider span{
        width:180px;
    }

    .newProductsDivider svg{
        font-size:34px;
    }

    .newProductsDescription{
        max-width:650px;
        font-size:28px;
        margin-bottom:70px;
    }

    .newProductsFeatures{
        max-width:760px;
    }

    .newProductsFeatureIcon{
        width:90px;
        height:90px;
    }

    .newProductsFeatureIcon svg{
        font-size:38px;
    }

    .newProductsFeatureCard h4{
        font-size:22px;
    }

}

/* ============================= */
/* 1440px */
/* ============================= */

@media (max-width:1440px){

    .newProductsContainer{
        padding:100px 70px;
    }

    .newProductsHeading{
        font-size:66px;
    }

}

/* ============================= */
/* 1200px */
/* ============================= */

@media (max-width:1200px){

    .newProductsContainer{
        padding:90px 55px;
    }

    .newProductsHeading{
        font-size:58px;
    }

    .newProductsDescription{
        font-size:15px;
    }

    .newProductsFeatures{
        max-width:500px;
    }

}

/* ============================= */
/* Tablet */
/* ============================= */

@media (max-width:992px){

    .newProductsHero{
        min-height:auto;
        background-position:70%;
    }

    .newProductsContainer{
        padding:90px 35px;
    }

    .newProductsContent{
        margin:auto;
        text-align:center;
        max-width:650px;
    }

    .newProductsDivider{
        justify-content:center;
    }

    .newProductsDescription{
        margin:0 auto 40px;
    }

    .newProductsFeatures{
        max-width:650px;
        margin:auto;
    }

}

/* ============================= */
/* Mobile Landscape */
/* ============================= */

@media (max-width:768px){

    .newProductsHero{
        background-position:75%;
        background:url("../assets/product.png") center center/cover no-repeat;
    }

    .newProductsOverlay{
        background:linear-gradient(
            rgba(255,255,255,.95),
            rgba(255,255,255,.72)
        );
    }

    .newProductsContainer{
        padding:70px 25px;
    }

    .newProductsSubtitle{
        font-size:14px;
        letter-spacing:4px;
    }

    .newProductsHeading{
        font-size:48px;
    }

    .newProductsDivider span{
        width:70px;
    }

    .newProductsDescription{
        max-width:100%;
        font-size:15px;
    }

    .newProductsFeatures{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        gap:25px;
        max-width:420px;
    }

    .newProductsFeatureCard{
        border:none;
        padding:0;
    }

}



@media (max-width:576px){

    .newProductsHero{
        min-height:72vh;
        background-image:url("../assets/mobproduct.png");
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center top;
        display:flex;
        align-items:flex-start;
    }

    /* .newProductsOverlay{
        background:linear-gradient(
            rgba(255,255,255,.75),
            rgba(255,255,255,.25)
        );
    } */

    .newProductsContainer{
        padding:55px 18px 20px;
    }

    .newProductsContent{
        max-width:100%;
        text-align:center;
        margin:-180px auto 0;

    }

    .newProductsSubtitle{
        font-size:16px;
        margin-bottom:10px;
    }

    .newProductsHeading{
        font-size:42px;
        margin-bottom:12px;
    }

    .newProductsDivider{
        margin-bottom:22px;
    }

    .newProductsDescription{
        font-size:14px;
        line-height:1.8;
        margin-bottom:0;
    }

    .newProductsFeatures{
        display:none;
    }

}

@media (max-width:400px){

    .newProductsHero{
        min-height: 100vh;
        background-image:url("../assets/mobproduct.png");
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center top;
    }

    .newProductsContainer{
        padding:45px 14px 20px;
    }

    .newProductsSubtitle{
        font-size:15px;
        margin-bottom:10px;
    }

    .newProductsHeading{
        font-size:38px;
    }

    .newProductsDescription{
        font-size:18px;
        line-height:1.7;
    }

}